<!-- ... -->
<%- include("../partials/header")%>
    <div class="homepage">
        <h2>All Facespace members</h2>
        <ul class="homepage__all">
            <% users.forEach(user =>{ %>
                <li class="homepage__all--user">
                    <a href="<%-`./users/${user._id}`%>"><img src="<%- user.avatarUrl %>" alt=""></a> 
                    <div class=<%- friendsIds.includes(user._id)? 'ribbon': '' %>>
                        <span><%- friendsIds.includes(user._id)? 'Friends!': '' %></span> 
                    </div>
                </li>
           <% }) %>
        </ul>
    </div>
<%- include("../partials/footer")%>